
/* Flávia Glenda Guimarães Carvalho*/
body {
    font-family: Arial, sans-serif;
    background-color: #483D8B; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #6A5ACD; 
    border-radius: 15px; 
    padding: 20px;
}

.login-box {
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}


h2 {
    color: white;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8A2BE2; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9370DB; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
